##### Python Basics

##### Installation of Python

##### Install Python
##### Go to this website
https://www.python.org/downloads/

In [ ]:
# Download the Python 3.0 version.
# Python 2.0 is the legacy version or old version of Python and it is not maintained.
# Python 2.0 has been there for a long time.
# Python 3.0 is the future of Python and is actively maintained.

##### Text Editor

In [ ]:
# Download the Pycharm community version which is free.
# There are special IDE's which will help us to fix Python errors better.

In [ ]:
# After intalling verify the SHA-256 checksum.
# Open windows powershell: Powershell.
# Refer https://www.educba.com/powershell-vs-command-prompt/ to know the difference between cmd and Powershell.....
# follow the steps in the following url: https://docs.precisely.com/docs/sftw/spectrum/ProductUpdateSummary/ProductUpdateSummary/source/about_sha256.html

In [ ]:
# There in the download page click on Verify the file SHA-256 checksum.
# Install Pycharm

##### Let's Start - Basic setup and Hello World ritual

In [ ]:
# Open Pycharm editor
# Note that we can install multiple versions of Python in our computer.
# So choose the version accordingly in the Python interpreter.

# Additional info: Will Python 4.0 be released: https://builtin.com/software-engineering-perspectives/python-4

In [ ]:
# Activity: Refer https://www.wikihow.com/Create-a-Programming-Language
# Assignment 1: Create a report on how Python programming language was created from the base level.

##### Hello World

In [1]:
# print() is a predefined function existing already in Python
# We are just using it.....
print("Hello World")

Hello World

##### Pythn executes code in order ----- Drawing a shape - Python program

In [4]:
# print() statement - this is ignored because it is a comment.
print("   /|") # Python first executes this code.
print("  / |") # Then Python moves to the next line and so on.
print(" /  |") # Only comments are skipped all codes are executed.
print("/___|") # Order of the instructions actually matters a lot.
# Why this example - python executes code line by line in order, it ignores only the comments

   /|
  / |
 /  |
/___|

In [5]:
# Order of the instructions actually matters a lot.
print("   /|") 
print(" /  |") 
print("/___|") 
print("  / |")

   /|
 /  |
/___|
  / |

##### Variables and data types

In [ ]:
# To manage data.
# Variables are containers in which we store data values.

##### Example to Understand why we use variable?

In [6]:
print("My name is Ram")
print("I am 16 years old.")
print("I work as a data scientist.")
# If I need to change this information I need to manually change it in each print statement.
# So variables help us to store dynamic information. (Information which are subjected to change depensing on a particaular scenario.)

My name is Ram
I am 16 years old.
I work as a data scientist.

In [7]:
# storing it in variables, to use it again and again
# Creating a variable
# name_of_the_variable = value
name = "Ram" 
age = 16
work = "data scientist"

In [8]:
print("My name is {}".format(name))
print("I am {} years old.".format(age))
print("I work as a {}.".format(work))

My name is Ram
I am 16 years old.
I work as a data scientist.

In [9]:
# Now I can over write and use these variables again for a different person
name = "Arjun"
age = 9
work = "student"

In [11]:
# This is also referred to as overwriting a variable in python
print("My name is {}".format(name))
print("I am {} years old.".format(age))
print("I work as a {}.".format(work))

My name is Arjun
I am 9 years old.
I work as a student.

In [ ]:
# Characteristics
# Variables easily can help the users to manage data in a program.
# Variables can be overwritten. (Update variables.....)

In [ ]:
# Different types of data we can store as value to a variable

##### Data Types

In [14]:
# String
name = "Arjun"
print(name)
type(name)

Arjun

str

In [15]:
# number -int- whole number
age = 16
print(age)
type(age)

16

int

In [16]:
# number -float- decimal number
value = 1.62
print(value)
type(value)

1.62

float

In [20]:
# boolean - True or False
are_you_boy = True
print(are_you_boy)
print(type(are_you_boy))
are_you_girl = False
print(are_you_girl)
print(type(are_you_girl)

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
# there are other data types in Python but as a beginner these are very important......

##### Working with Strings in Python

In [ ]:
# Strings are basically plain text

In [ ]:
# To create a string we use '' or "" (single quotations or double quotations)

In [21]:
# single quotation ''
print('Amshuhu Academy')

Amshuhu Academy

In [22]:
# double quotation ''
print("Amshuhu Academy")

Amshuhu Academy

In [23]:
# Using \n - new line
print("Amshuhu\nAcademy")

Amshuhu
Academy

In [24]:
# Escape character in string
# \ is the escape character
# If I use a quotation inside it will confuse the python interpreter where the string begins and ends
# If you use quotations inside a string use \ character
# but you can use single quotation inside double quotations or vice versa
print("Amshuhu's Data Science team")
print('Amshuhu"s Data Science team')
print("Amshuhu\"s Data Science team")
print('Amshuhu\'s Data Science team')

Amshuhu's Data Science team
Amshuhu"s Data Science team
Amshuhu"s Data Science team
Amshuhu's Data Science team

In [27]:
# You can also print backslash
print('Amshuhu\s Data Science team') # it does not escape characters
print('Amshuhu\#s Data Science team') # even special characters
print('Amshuhu\\s Data Science team') # \\ means one \
# just the quotations and \

Amshuhu\s Data Science team
Amshuhu\#s Data Science team
Amshuhu\s Data Science team

In [28]:
# Create string variable
# variable_name = string_value
name = "Arjun"
print(name)
print(type(name))

Arjun
<class 'str'>

In [31]:
# Concatentation - Adding multiple strings
print(name+' '+'is a cool guy.')

Arjun is a cool guy.

In [37]:
#Accessing predefined and already existing  string functions in Python
name = "Bridgette"
print(name)
# using . immediately after the declared variable helps us to access the string functions
name = name.upper()
print(name)
print(name.isupper())
name = name.lower()
print(name)
print(name.islower())

Bridgette
BRIDGETTE
True
bridgette
True

In [40]:
# Functions can (also be used in combinations with each other
print(name)
print(name.upper().isupper())
print(name.lower().isupper())

bridgette
True
False

In [42]:
# Lenth of a string
# len it is apredefined function to find the number of characters in a string
print(name)
len(name)

bridgette

9

In [44]:
# String characters are indexed
# Positive index always starts with 0 in Python.....
print(name)
# To specify the index we use [] after variable and mention the index as a number inside the square brackets
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])

bridgette
b
r
i
d
g
e

In [50]:
# index() function - particular character exists in a function
print(name)
print(name.index("g")) # if the character is present it returns the index otherwise it raises an error

bridgette
4

In [53]:
# index() function returns an integer
print(name)
find_g = name.index("g")
print(find_g)
print(type(find_g))

bridgette
4
<class 'int'>

In [54]:
# index() function - if there are multiple characters then it returns the index of first found charcter in positive index order.,....
print(name)
find_e = name.index("e")
print(find_e)
print(type(find_e))

bridgette
5
<class 'int'>

In [57]:
# index() function- actual words can also be used
name = "bridgette charle"
print(name)
print(name.index("charle"))
# it tells where the sequence starts

bridgette charle
10

In [58]:
#index() function - if some character is not present in a string it will raise an error
print(name)
print(name.index("v"))
# ValueError: substring not found

bridgette charle

ValueError: substring not found

In [59]:
# .replace() function
print(name)
print(name.replace('bridgette','sylvie'))
print(name)

bridgette charle
sylvie charle
bridgette charle

In [ ]:
# a lot of different string functions exists but these are the common ones.....

In [ ]:
# 50 commonly used Python string functions: Refere all these methods
# https://www.geeksforgeeks.org/python-string-methods/

##### Working with numbers in Python

In [60]:
# print out a number
print(2)
print(6.36)

2
6.36

In [61]:
# negative numbers are also valid in python
print(-2)
print(-6.36)

-2
-6.36

In [67]:
# basic arithmetic operations
print(3+4) # addition
print(3-4) # subtraction
print(3*4) # multiplication
print(3**4) # exponentiation , raise to a power
print(3/4) # division
print(3//4) # floor division
print(12%4) # modulus - remainder

7
-1
12
81
0.75
0
0

In [64]:
# complex calculations
# Use parenthesis for complex calculations
print(3*4+3) # in order
print(3*(4+3)) # to change order use parenthesis 
print((3*4)+3)

15
21
15

In [69]:
# we can store numbers in variables like strings
my_number = 7
print(my_number)
print(type(my_number))

7
<class 'int'>

In [73]:
# convert a number to a string
# also known as Casting in python
my_number = 7
print(my_number)
print(type(my_number))
my_number = str(7) # Casting in Python
print(my_number)
print(type(my_number))
print("My age is "+str(my_number))
my_number = 6
print(my_number)
print(type(my_number))
# One of the use case is to print a number next to a string
print("My age is "+str(my_number))

7
<class 'int'>
7
<class 'str'>
My age is 7
6
<class 'int'>
My age is 6

In [ ]:
# common functions we use for numbers in PythonEx

In [75]:
# abs() pre defined function
my_num = -6
print(abs(my_num))

6

In [77]:
# pow() pre defined function
print(pow(5,6)) #  pow(number, power to raise the number)
print(5**6)

15625
15625

In [78]:
# max() pre defined function
print(max(5,6))

6

In [79]:
# min() pre defined function
print(min(5,6))

5

In [80]:
# round()
# follow standard rounding rukes for decimal numbers
print(round(5.2)) 
print(round(5.8))

5
6

In [85]:
# floor()
print(floor(6.9))

6

In [84]:
# floor() # round the number down
print(floor(6.9))

6

In [86]:
# ceil() # round the number up
print(ceil(6.9))

7

In [87]:
# sqrt() # round the number up
print(sqrt(100))

10.0

In [82]:
# import math module in python if Python does not recognise a math function
from math import *
# if you are not able to access some function then import and try

In [ ]:
# what we saw are commonly used 
# there are much more
# Refer:https://www.programiz.com/python-programming/modules/math

##### Getting input from users

In [ ]:
# Use input() function to get input from user
# input("prompt") prompt displays to the user

In [89]:
name = input("Enter your name: ")
print("Your name is " + name )

Enter your name: Arjun Sri
Your name is Arjun Sri

In [93]:
# can get many info from the users
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Your name is " + name + " ,Your age is " + age + '.')

Enter your name: Sriraam Arjun Sri
Enter your age: 16
Your name is Sriraam Arjun Sri ,Your age is 16.

In [94]:
# by default it accepts string
print(type(name))
print(type(age))

<class 'str'>
<class 'str'>

In [95]:
# use casting to change
age = int(input("Enter your age: "))
# not recommended as it may raise error......

Enter your age: 12

In [96]:
print(type(age))

<class 'int'>

##### Let's build a basic calculator

In [98]:
number_1 = input("Enter the first number: ")
number_2 = input("Enter the second number: ")
result = number_1 + number_2
print(result)
# It will acts as strings and concatenated the strings
# by default the input received is a string......

Enter the first number: 1
Enter the second number: 5
15

In [99]:
number_1 = input("Enter the first number: ")
number_2 = input("Enter the second number: ")
result = int(number_1) + int(number_2)
print(result)

Enter the first number: 2
Enter the second number: 2
4
4

In [101]:
# results in error if a number is not a whole number
number_1 = input("Enter the first number: ")
number_2 = input("Enter the second number: ")
result = int(number_1) + int(number_2)
print(result)

Enter the first number: 9.0
Enter the second number: 6.9

ValueError: invalid literal for int() with base 10: '9.0'

In [103]:
# use float can handle both whole and decimal
number_1 = input("Enter the first number: ")
number_2 = input("Enter the second number: ")
result = float(number_1) + float(number_2)
print(result)

Enter the first number: 7.6
Enter the second number: 8.9
16.5

In [ ]:
# depends on what you need to code use int() or float()accordingly

##### Mad Libs game

In [107]:
person = input("Enter a person: ")
adjective = input("Enter a adjective: ")
skill = input("Enter a skill: ")
print("Who likes " + person)
print("That person is " + adjective)
print("We should learn " + skill + " from that person.")

Enter a person: Trudeau
Enter a adjective: patient
Enter a skill: listening
Who likes Trudeau
That person is patient
We should learn listening from that person

In [ ]:
# Create a Mad libs game - make your own

##### Working with lists in Python

In [ ]:
# Organize data we can use lists whch is one among the collection in Python

In [ ]:
# Create a list
# We create a list like how we declare a variable

In [2]:
# method 1
# list_variable_name = []
colleagues = ['Bala','Sridhar','David']
print(colleagues)
print(type(colleagues))

['Bala', 'Sridhar', 'David']
<class 'list'>

In [3]:
# method 2
# list_variable_name = list((list_values))
colleagues = list(('Bala','Sridhar','David'))
print(colleagues)
print(type(colleagues))

['Bala', 'Sridhar', 'David']
<class 'list'>

In [5]:
# a list can have many datatypes like str, int, float,bool,list and other collections like tuple, dictionary etc.
employee = ['Arjun',16,True,['datascientist','senior']]
# access elements using index 
# postive index : 0 - first item, 1 - second item, 2- third item and so on
print(employee)
print(type(employee))
print(employee[0])
print(type(employee[0]))
print(employee[1])
print(type(employee[1]))
print(employee[2])
print(type(employee[2]))
print(employee[3])
print(type(employee[3]))
# negative index : -1 - last item, -2 - second last item, -3 third last item and so on
print(employee[-1])
print(type(employee[-1]))
print(employee[-2])
print(type(employee[-2]))
print(employee[-3])
print(type(employee[-3]))
print(employee[-4])
print(type(employee[-4]))

['Arjun', 16, True, ['datascientist', 'senior']]
<class 'list'>
Arjun
<class 'str'>
16
<class 'int'>
True
<class 'bool'>
['datascientist', 'senior']
<class 'list'>
['datascientist', 'senior']
<class 'list'>
True
<class 'bool'>
16
<class 'int'>
Arjun
<class 'str'>

In [6]:
# range of indices - always use positive indices to avoid errors
employee = ['Arjun',16,True,['datascientist','senior']]
print(employee[0:2]) # o is the start index and 2 is the end index, it includes the start index but not the end index.
print(employee[:2]) # If you dont mention the start index it starts from zero.
print(employee[0:]) # If you dont mention the end index it considers till the last item of the list.....

['Arjun', 16]
['Arjun', 16]
['Arjun', 16, True, ['datascientist', 'senior']]

In [7]:
# update lists in Python
employee = ['Arjun',16,True,['datascientist','senior']]
print(employee)
employee[0] = "Boyong Lee"
print(employee)

['Arjun', 16, True, ['datascientist', 'senior']]
['Boyong Lee', 16, True, ['datascientist', 'senior']]

##### List functions in Python

In [8]:
tv_channels = ['HBO','Star Movies','Sun TV','Thanthi TV','Jaya TV','Pogo']
genre = ['comedy','action','kids','news']
# print out lists using print()
print(tv_channels)
print(genre)

['HBO', 'Star Movies', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo']
['comedy', 'action', 'kids', 'news']

In [9]:
# use extend to add a list as items to another list - unpack a list and add items
# extend() 
tv_channels.extend(genre)
print(tv_channels)

['HBO', 'Star Movies', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news']

In [10]:
# use append to add as a list directly without unpacking
# append()
tv_channels.append(genre)
print(tv_channels)

['HBO', 'Star Movies', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news', ['comedy', 'action', 'kids', 'news']]

In [11]:
# append individual items - append() always add items to the end of a list
# append()
tv_channels.append("Animax")
print(tv_channels)

['HBO', 'Star Movies', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news', ['comedy', 'action', 'kids', 'news'], 'Animax']

In [14]:
# since there is a limitation in using append because it adds the item to the end of the list
# use insert to insert at a specified index
# insert()
tv_channels.insert(2,'Chutti TV')
print(tv_channels)
print(tv_channels[2])

['HBO', 'Star Movies', 'Chutti TV', 'Chutti TV', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news', ['comedy', 'action', 'kids', 'news'], 'Animax']
Chutti TV

In [15]:
# remove items from a list
#remove()
tv_channels.remove('Chutti TV') # if there are duplicates it removes the first found in order of positive index
print(tv_channels)

['HBO', 'Star Movies', 'Chutti TV', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news', ['comedy', 'action', 'kids', 'news'], 'Animax']

In [16]:
# pop() removes the last item in the list
# pop()
print(tv_channels)
tv_channels.pop() # it removes the last item
print(tv_channels)

['HBO', 'Star Movies', 'Chutti TV', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news', ['comedy', 'action', 'kids', 'news'], 'Animax']
['HBO', 'Star Movies', 'Chutti TV', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news', ['comedy', 'action', 'kids', 'news']]

In [17]:
# clear() empties the list
print(tv_channels)
tv_channels.clear() # it clears or removes all the items in a list to return an empty list
print(tv_channels)

['HBO', 'Star Movies', 'Chutti TV', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news', ['comedy', 'action', 'kids', 'news']]
[]

In [18]:
# del keyword deletes the entire list
print(tv_channels)
del tv_channels # it dletes the entire list from memory
print(tv_channels)

[]

NameError: name 'tv_channels' is not defined

In [20]:
# to find the index of an item in the list
# index()
tv_channels = ['HBO', 'Star Movies', 'Chutti TV', 'Chutti TV', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news', ['comedy', 'action', 'kids', 'news'], 'Animax']
print(tv_channels.index('Pogo')) # it returns the index of an item as integer
print(tv_channels.index('Chutti TV')) # If there are duplicate items it returns the first found in positive index order
print(tv_channels.index('E TV')) # error if not in the list - ValueError

7
2

ValueError: 'E TV' is not in list

In [21]:
# count the number of a particular item in a list
# count()
tv_channels = ['HBO', 'Star Movies', 'Chutti TV', 'Chutti TV', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news', ['comedy', 'action', 'kids', 'news'], 'Animax']
print(tv_channels.count('Chutti TV')) # it returns as integer the number of times the item is present in the list.........

2

In [22]:
# sort the list
# ascending order is the default
print(tv_channels)
tv_channels.sort() # it works only if there are items of same datatype in a List
print(tv_channels)

['HBO', 'Star Movies', 'Chutti TV', 'Chutti TV', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news', ['comedy', 'action', 'kids', 'news'], 'Animax']

TypeError: '<' not supported between instances of 'list' and 'str'

In [23]:
# sort()
tv_channels = ['HBO', 'Star Movies', 'Chutti TV', 'Chutti TV', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news', 'Animax']
print(tv_channels)
tv_channels.sort() # priority is for Capital aplphabets first then followed by small letter or lower case letters
print(tv_channels)

['HBO', 'Star Movies', 'Chutti TV', 'Chutti TV', 'Sun TV', 'Thanthi TV', 'Jaya TV', 'Pogo', 'comedy', 'action', 'kids', 'news', 'Animax']
['Animax', 'Chutti TV', 'Chutti TV', 'HBO', 'Jaya TV', 'Pogo', 'Star Movies', 'Sun TV', 'Thanthi TV', 'action', 'comedy', 'kids', 'news']

In [24]:
# sort() - numbers example
even_numbers = [6,2,4,4,2,2,4,6,6,8,18,14,14,14,20,100,96]
print(even_numbers)
even_numbers.sort()
print(even_numbers)

[6, 2, 4, 4, 2, 2, 4, 6, 6, 8, 18, 14, 14, 14, 20, 100, 96]
[2, 2, 2, 4, 4, 4, 6, 6, 6, 8, 14, 14, 14, 18, 20, 96, 100]

In [25]:
# if you want descending (reverse=True)
even_numbers = [6,2,4,4,2,2,4,6,6,8,18,14,14,14,20,100,96]
print(even_numbers)
even_numbers.sort(reverse=True)
print(even_numbers)

[6, 2, 4, 4, 2, 2, 4, 6, 6, 8, 18, 14, 14, 14, 20, 100, 96]
[100, 96, 20, 18, 14, 14, 14, 8, 6, 6, 6, 4, 4, 4, 2, 2, 2]

In [26]:
# we can reverse a list
# Using reverse()
print(even_numbers)
even_numbers.reverse()
print(even_numbers)

[100, 96, 20, 18, 14, 14, 14, 8, 6, 6, 6, 4, 4, 4, 2, 2, 2]
[2, 2, 2, 4, 4, 4, 6, 6, 6, 8, 14, 14, 14, 18, 20, 96, 100]

In [27]:
# copy a list
numbers = even_numbers.copy()
print(numbers)
print(even_numbers)
numbers.append(110)
print(numbers)
print(even_numbers)

[2, 2, 2, 4, 4, 4, 6, 6, 6, 8, 14, 14, 14, 18, 20, 96, 100]
[2, 2, 2, 4, 4, 4, 6, 6, 6, 8, 14, 14, 14, 18, 20, 96, 100]
[2, 2, 2, 4, 4, 4, 6, 6, 6, 8, 14, 14, 14, 18, 20, 96, 100, 110]
[2, 2, 2, 4, 4, 4, 6, 6, 6, 8, 14, 14, 14, 18, 20, 96, 100]

##### Working with Tuples in Python

In [ ]:
# A tuple is very similar to lists
# The key difference is that tuple is unchangeable/ not modified or immutable , only way to do that is to convert it to a list, cahnge it and convert it back to a tuple

In [30]:
# Create a tuple
# method 1 - Use () parenthesis
power_rangers = ("Mystic Force","Dino Thunder","Ninja Storm","SPD","Samurai","Time Travel")
print(power_rangers)
print(type(power_rangers))

('Mystic Force', 'Dino Thunder', 'Ninja Storm', 'SPD', 'Samurai', 'Time Travel')
<class 'tuple'>

In [31]:
# Create a tuple
# method 2- Use tuple()
power_rangers = tuple(("Mystic Force","Dino Thunder","Ninja Storm","SPD","Samurai","Time Travel"))
print(power_rangers)
print(type(power_rangers))

('Mystic Force', 'Dino Thunder', 'Ninja Storm', 'SPD', 'Samurai', 'Time Travel')
<class 'tuple'>

In [32]:
# Accessing a Tuple is same as accessing a list
# access elements using index 
# postive index : 0 - first item, 1 - second item, 2- third item and so on
print(power_rangers)
print(type(power_rangers))
print(power_rangers[0])
print(power_rangers[1])
print(power_rangers[2])
print(power_rangers[3])
# negative index : -1 - last item, -2 - second last item, -3 third last item and so on
print(power_rangers[-1])
print(power_rangers[-2])
print(power_rangers[-3])
print(power_rangers[-4])

('Mystic Force', 'Dino Thunder', 'Ninja Storm', 'SPD', 'Samurai', 'Time Travel')
<class 'tuple'>
Mystic Force
Dino Thunder
Ninja Storm
SPD
Time Travel
Samurai
SPD
Ninja Storm

In [33]:
# range of indices - always use positive indices to avoid errors
print(power_rangers[0:2]) # o is the start index and 2 is the end index, it includes the start index but not the end index.
print(power_rangers[:2]) # If you dont mention the start index it starts from zero.
print(power_rangers[0:]) # If you dont mention the end index it considers till the last item of the list.....

('Mystic Force', 'Dino Thunder')
('Mystic Force', 'Dino Thunder')
('Mystic Force', 'Dino Thunder', 'Ninja Storm', 'SPD', 'Samurai', 'Time Travel')

In [ ]:
# Key difference between Tuple and list
# After creating a Tuple you cannot change or modify a Tuple , also known as immutable characteristic of a Tuple......

In [ ]:
# CRUD - We can create and read Tuple but not update and delete it

In [35]:
power_rangers[2] = 'Jungle Fury'

TypeError: 'tuple' object does not support item assignment

In [34]:
power_rangers.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [ ]:
# Python says this as only key difference between Python List and Python Tuple
# For practical use cases developers use tuple for data which does not change or should not be changed

In [ ]:
# Example: coordinates should not be changed so it is used in a tuple but a list can be used to store tuples

In [37]:
coordinates = [(4,5),(7,7),(5,6),(5,5),(7,4),(7,6)]
print(coordinates)
print(type(coordinates))
print(coordinates[3])
print(type(coordinates[3]))

[(4, 5), (7, 7), (5, 6), (5, 5), (7, 4), (7, 6)]
<class 'list'>
(5, 5)
<class 'tuple'>

##### Working with functions in Python

In [1]:
# What are functions in Python ? 
# A function is a collection of code which performs a specific task.

In [5]:
# Create a function to greet the user
# To create a function we use a def keyword
# def function_name(inputs)
def greet_user(user_name):
    # Indentation makes sure that the code you write below belongs to the function
    # user_name in the parenthesis is known as a parameter
    # if you mention a parameter then it should be given when calling a function
    print("Welcome " + user_name)

In [6]:
user_name = input("Enter your name: ")

Enter your name: Arshid Sriraam

In [7]:
# call the function - In order to use the function
greet_user(user_name)
# flow of function is that when we are calling a function all the piece of code in that particular function will get executed.....

Welcome Arshid Sriraam

In [10]:
# we can have multiple parameters for a function
def greet_user(user_name,age):
    print("Welcome " + user_name + " Your age is: " + age)

In [8]:
user_name = input("Enter your name: ")
age = input("Enter your age: ")

Enter your name: Arjun Sriraam
Enter your age: 16

In [11]:
greet_user(user_name,age)

Welcome Arjun Sriraam Your age is: 16

In [13]:
greet_user("Narayana","16")

Welcome Narayana Your age is: 16

In [ ]:
# To have functions is a best practise in Python
# If you have function for specific functions we can reuse them again and again with unique parameters.

##### Return statement in Python functions

In [14]:
# Write a function to add two integers and return sum
def add_numbers(number_1,number_2):
    sum = number_1 + number_2
    return sum

In [15]:
add_numbers(6,9)

15

In [16]:
# If the function returns something then we can store it in a variable.
sum = add_numbers(6,9)
print(sum)

15

In [17]:
# Why we use return statement in Python?
# Write a function to get the cube of a number
def cube_number(num):
    num*num*num

In [18]:
# call cube_number() function
cube_number(5)
# I get nothing as output

In [19]:
# Let's print and see
print(cube_number(5))

None

In [20]:
# but if we use return statement the Python knows that it should return this value when the function is called
def cube_number(num):
    return num*num*num

In [21]:
print(cube_number(5))

125

In [22]:
# we can store it as a variable - the value returned gets stored.
cube_of_number = cube_number(6)

In [23]:
print(cube_of_number)

216

In [24]:
# return is the last statement in the function and after it Python does not read
def cube_number(num):
    return num*num*num
    print(num) # this will not get executed because Python stops reading after the return statement

In [25]:
cube_number(9)

729

In [26]:
def cube_number(num):
    print(num) # This gets executed because it is before the return statement.
    return num*num*num

In [27]:
cube_number(9)

9

729

In [ ]:
# We can return any data type we want it can be  a str, int, float, list, tuple, set, dictionary, etc.

##### If Statements in Python

In [ ]:
# Based on the data given as input our program will be able to respond for different conditions

In [ ]:
# Real world examples of if statements
# Lets say you are cooking
#if rice is there: (If this is true)
        #let me cook fried rice (I perform this action)
# otherwise: (The condition is also)
        #lets order from swiggy (I perform this action)

In [33]:
# Create a boolean variable to know whether there is rice
rice_available = True
#rice_available = False

In [34]:
if rice_available:
    # use indentation
    print("Rice is available, lets cook")
else: # otherwise
    print("Rice is not available, lets order from Swiggy")

Rice is available, lets cook

In [35]:
# or operator
# to check two conditions together
# True, True = True
# False, True = True
# True,False = True
# False,False = False
is_indian = True
is_tamilian = True

if is_indian or is_tamilian:
    print("You are either indian or tamilian")
else:
    print("You are neither indian nor tamilian")

You are either indian or tamilian

In [39]:
# and operator
# to check two conditions together
# True, True = True
# False, True = False
# True,False = False
# False,False = False
is_indian = True
is_tamilian = True

if is_indian and is_tamilian:
    print("You are either indian or tamilian")
else:
    print("You are neither indian nor tamilian")

You are either indian or tamilian

In [40]:
# elif keyword means else if
is_indian = True
is_tamilian = False

if is_indian and is_tamilian:
    print("You are either indian or tamilian")
    #we can have many elif but only one if and one else
elif is_indian: 
    print("You are indian but not tamilian")
elif is_tamilian: 
    print("You are tamilian but you can be a malaysian,canadaian,srilankan,etc.")
else:
    print("You are neither indian nor tamilian")

You are indian but not tamilian

In [41]:
# not function can be used to indicate if it is false then execute this.....
is_indian = True
is_tamilian = False

if is_indian and not(is_tamilian):
    print("You are indian but not tamilian")
else:
    print("You are neither indian nor tamilian")

You are either indian but not tamilian

##### Comparison operators in If Statements in python

In [42]:
# Write a function to find the biggest among three numbers
def greatest_number(number_1,number_2,number_3):
    if number_1 > number_2 and number_1 > number_3:
        print("number_1 is the greater number")
    elif number_2 > number_1 and number_2 > number_3:
        print("number_2 is the greater number")
    else:
        print("number_3 is the greater number")
# this function works only for unique numbers

In [43]:
greatest_number(5,6,8)

number_3 is the greater number

In [ ]:
# Other operators
# greater than: >
# lesser than: <
# greater than or equal to : >=
# lesser than or equal to: <=
# equal: ==
# not equal: !=

In [ ]:
# We can compare all different data types like string, integers, floats, lists, tuple, etc.

##### Calculator in Python

In [44]:
first_number = float(input("Enter the first number: "))
op = input("Enter the  operation: ")
second_number = float(input("Enter the second number: "))

Enter the first number: 5
Enter the  operation: /
Enter the second number: 5

In [46]:
if op == "+":
    print(first_number + second_number)
elif op == "-":
    print(first_number - second_number)
elif op == "*":
    print(first_number * second_number)
elif op == "/":
    print(first_number / second_number)
else:
    print("Invalid operator")

1.0

##### Working with Dictionaries in python

In [ ]:
# A dictionary is one among the collections in Python.
# It stores data as a key value pairs.
# Accessing any info in the dictionaries is done by using keys.

In [ ]:
# Let us compare to areal world dictionary where every word in a dictionary is unique and has a definition.
# The words in the dictionary are keys and its definitions are values.

In [ ]:
# Learn with a use case - I want to map 1,2,3,4,5,6,7 to Sunday, Monday, Tuesday, Wednesday, Thursday , Friday and Saturday.

In [1]:
# Create a dictionary - method 1 - {}
# dictionary_name = {} # curly brackets
day_mapping = {
    1:'Sunday',
    2:'Monday',
    3:'Tuesday',
    4:'Wednesday',
    5:'Thursday',
    6:'Friday',
    7:'Saturday'
}

In [2]:
day_mapping

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 7: 'Saturday'}

In [10]:
# Create a dictionary - method 2 - dict()
# dictionary_name = dict()
#day_mapping = dict(1 ='Sunday',2 ='Monday',3='Tuesday',4='Wednesday',5='Thursday',6='Friday',7='Saturday') # this will not work
day_mapping = dict(one ='Sunday',two ='Monday',three='Tuesday',four='Wednesday',five='Thursday',six='Friday',seven='Saturday')

In [11]:
day_mapping

{'one': 'Sunday',
 'two': 'Monday',
 'three': 'Tuesday',
 'four': 'Wednesday',
 'five': 'Thursday',
 'six': 'Friday',
 'seven': 'Saturday'}

In [12]:
# Use method 1 to avoid these constraint and also avoid confusion
# Create a dictionary - method 1 - {}
# dictionary_name = {}
day_mapping = {
    1:'Sunday',
    2:'Monday',
    3:'Tuesday',
    4:'Wednesday',
    5:'Thursday',
    6:'Friday',
    7:'Saturday'
}
# keys are 1,2,3,4,5,6,7
# values are 'Sunday','Monday','Tuesday','Wednesday','Thursday', 'Friday','Saturday'
# all keys should be unique

In [13]:
day_mapping

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 7: 'Saturday'}

In [1]:
# all keys should be unique
day_mapping = {
    1:'Sunday',
    1:'Monday',
    3:'Tuesday',
    4:'Wednesday',
    5:'Thursday',
    6:'Friday',
    7:'Saturday'
}

In [2]:
day_mapping
# 'Sunday' is overwritten to 'Monday' as only one unique key should be present in a dictionary, Values can have duplicates.

{1: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 7: 'Saturday'}

In [3]:
# Values can have duplicates
day_mapping = {
    1:'Sunday',
    2:'Sunday',
    3:'Tuesday',
    4:'Wednesday',
    5:'Thursday',
    6:'Friday',
    7:'Saturday'
}

In [4]:
day_mapping

{1: 'Sunday',
 2: 'Sunday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 7: 'Saturday'}

In [7]:
# Acessing a list and tuple is by using their index.
# The index in a dictionary are the keys and we can access anything using the keys() in dictionary.
# Acessing - method 1
print(day_mapping[1])
print(day_mapping[2])
print(day_mapping[3])
print(day_mapping[4])
print(day_mapping[5])
print(day_mapping[6])
print(day_mapping[7])
# Refer a key to get the corresponding value in a dictionary.

Sunday
Sunday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [8]:
# Acessing - method 2
print(day_mapping.get(1))
print(day_mapping.get(2))
print(day_mapping.get(3))
print(day_mapping.get(4))
print(day_mapping.get(5))
print(day_mapping.get(6))
print(day_mapping.get(7))
# Same output as method 1.

Sunday
Sunday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [9]:
# if you use invalid key
print(day_mapping.get("love"))

None

In [10]:
# We can specify the deafult value
print(day_mapping.get("love","Not a key in the dictionary"))

Not a key in the dictionary

In [11]:
print(type(day_mapping.get("love")))

<class 'NoneType'>

In [12]:
print(type(day_mapping.get("love","Not a key in the dictionary")))

<class 'str'>

In [14]:
# so we can handle none data type by using the method
print(day_mapping["Love"])
# it will raise a key error for invalid key if you use method 1.

KeyError: 'Love'

In [ ]:
# keys can be strings, integers, float , boolean but not a collection

In [15]:
# string - works fine
day_mapping = {
    'one':'Sunday',
    'two':'Sunday',
}
print(day_mapping)

{'one': 'Sunday', 'two': 'Sunday'}

In [16]:
# integer - works fine
day_mapping = {
    1:'Sunday',
    2:'Sunday',
}
print(day_mapping)

{1: 'Sunday', 2: 'Sunday'}

In [17]:
# float - works fine
day_mapping = {
    1.0:'Sunday',
    2.0:'Sunday',
}
print(day_mapping)

{1.0: 'Sunday', 2.0: 'Sunday'}

In [18]:
# bool - cannot be used, but can be used if only True or False Use case.
day_mapping = {
    True:'Sunday',
    False:'Sunday',
    True:'Friday'
}
print(day_mapping)

{True: 'Friday', False: 'Sunday'}

In [19]:
# collections - cannot be used, as the mapping is not possible.
day_mapping = {
    [1,2]:'Sunday',
    [12,5]:'Sunday',
    [9,6]:'Friday'
}
print(day_mapping)
# error - nhashable type: 'list'

TypeError: unhashable type: 'list'

In [20]:
# Update values in a dictionary
#syntax: dictionary_name[index] = new_value
day_mapping = {
    1:'Sunday',
    2:'Sunday',
}
print(day_mapping)
day_mapping[2] = 'Friday'
print(day_mapping)

{1: 'Sunday', 2: 'Sunday'}
{1: 'Sunday', 2: 'Friday'}

In [21]:
# del keyword - removes the key, value for specified key.
print(day_mapping)
del day_mapping[1]
print(day_mapping)

{1: 'Sunday', 2: 'Friday'}
{2: 'Friday'}

In [45]:
#.keys()
print(day_mapping.keys())

dict_keys([1, 2, 3, 4, 5, 6, 7])

In [47]:
#.valuse()
print(day_mapping.values())

dict_values(['Sunday', 'Sunday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'])

In [48]:
#.items()
print(day_mapping.items())

dict_items([(1, 'Sunday'), (2, 'Sunday'), (3, 'Tuesday'), (4, 'Wednesday'), (5, 'Thursday'), (6, 'Friday'), (7, 'Saturday')])

##### While loops in Python

In [ ]:
# Executes a block of code repeatedly till the condition is false.

In [22]:
# while condition:
i = 1
while i < 10 :
    print(i)
    i += 1 # same as i = i + 1, increment it to avoid infinite loop
print("Loop finished",i)

1
2
3
4
5
6
7
8
9
Loop finished 10

##### Guessing game

In [ ]:
# We will be using if statements, while loops, variables i.e all the topics we have seen previously....

In [27]:
secret_word = "zebra"
guess = ''
while guess != secret_word:
    guess = input("Enter your guess (hint it is a animal):")
print("You guessed it right, it is ",secret_word)

Enter your guess (hint it is a animal):cow
Enter your guess (hint it is a animal):bull
Enter your guess (hint it is a animal):horse
Enter your guess (hint it is a animal):zebra
You guessed it right, it is  zebra

In [30]:
# set a limit for guess , guess_limit is 2 times only.

In [ ]:
# answer 1
secret_word = "zebra"
guess = ''
guess_count = 0
guess_limit = 2
while guess != secret_word and guess_count < guess_limit :
    guess = input("Enter your guess (hint it is a animal):")
    guess_count += 1
if guess == secret_word:
    print("You guessed it right, it is ",secret_word)
else:
    print("Sorry you have not guessed it right, better luck next time!")

In [35]:
# answer 2
secret_word = "zebra"
guess = ''
guess_count = 0
guess_limit = 2
out_of_guesses = False
while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input("Enter your guess (hint it is a animal):")
        guess_count += 1
    else:
        out_of_guesses = True
if out_of_guesses:
    print("Sorry you have not guessed it right in 2 chances, better luck next time!")
else:
    print("You guessed it right, it is ",secret_word)

Enter your guess (hint it is a animal):zebra
You guessed it right, it is  zebra

In [31]:
out_of_guesses = False
not(out_of_guesses)

True

##### For loops in Python

In [42]:
# list 
list_1 = [1,2,3,4,5]
for x in list_1:
    print(x)# print out value

1
2
3
4
5

In [44]:
#if you want the index - list
# list 
list_1 = [1,2,3,4,5]
for x in range(len(list_1)):
    print(x)# print out index

0
1
2
3
4

In [43]:
# tuple
tuple_1 = (2,3,4,5,6)
for x in tuple_1:
    print(x)

2
3
4
5
6

In [ ]:
# set
set_1 = {2,3,4,5,6}
for x in set_1:
    print(x)

In [36]:
# dictionary - for looping over dictionary keys.
day_mapping = {
    1:'Sunday',
    2:'Sunday',
    3:'Tuesday',
    4:'Wednesday',
    5:'Thursday',
    6:'Friday',
    7:'Saturday'
}
for x in day_mapping:
    print(x)

1
2
3
4
5
6
7

In [37]:
# dictionary - for looping over dictionary values.
day_mapping = {
    1:'Sunday',
    2:'Sunday',
    3:'Tuesday',
    4:'Wednesday',
    5:'Thursday',
    6:'Friday',
    7:'Saturday'
}
for x in day_mapping:
    print(day_mapping[x])

Sunday
Sunday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [38]:
# loop over a string
string_1 = "elephant gate toll"
for x in string_1:
    print(x)

e
l
e
p
h
a
n
t

g
a
t
e

t
o
l
l

In [39]:
# cant loop over a number - 'int' object is not iterable
# loop over a string
number_1 = 1234567
for x in number_1:
    print(x)

TypeError: 'int' object is not iterable

In [40]:
# range
for x in range(5):
    print(x)

0
1
2
3
4

In [41]:
# range of indice, start index is included, end index is not included.
for x in range(5,11):
    print(x)

5
6
7
8
9
10

In [ ]:
# Syntax: 
#for itteration_variable in itterable_data_type:
    #print(itteration_variable)
# itteration_variable can be any name but you should access  it with same name.

In [50]:
# You can perform any logic under for loops
for index in range(6):
    if index == 0:
        print(index)
    else:
        print("The index is a positive number..")
# We can make complex programs using for loops.

0
The index is a positive number..
The index is a positive number..
The index is a positive number..
The index is a positive number..
The index is a positive number..

In [56]:
# Infinity loop in Python source: youtube @Creativewizcoding
from turtle import *
color('cyan')
bgcolor('black')
speed(11)
right(45)
for n in range(150):
    if 7 < n < 62:
        left(5)
    if 80 < n < 133:
        right(5)
    circle(30)
    if n < 80:
        forward(10)
    else:
        forward(5)

##### Exponent function in Python

In [1]:
print(5**5)

3125

In [8]:
# Create a function for calculating exponentiation
def raise_power(a,b):
    result = 1
    for x in range(b):
        result = result * a
    return result

In [9]:
exponent_5 = raise_power(5,5)
print(exponent_5)

3125

In [14]:
# heart of the raise_power function
a = 5
result = 1
for x in range(5):
    result = result * a
    print(x)
    print(result)

0
5
1
25
2
125
3
625
4
3125

In [11]:
# Program to multiply to its value again and again
a = 5
for x in range(5):
        a = a * a
        print(x)
        print(a)

0
25
1
625
2
390625
3
152587890625
4
23283064365386962890625

In [13]:
a = 6
for x in range(5):
        a = a * a
        print(x)
        print(a)

0
36
1
1296
2
1679616
3
2821109907456
4
7958661109946400884391936

##### 2D Lists and nested loops in Python

In [ ]:
# 2D Lists

In [15]:
list_matrix = [
    [1,2,3],
    [7,8,9],
    [4,5,6],
    [0]
]
print(list_matrix[0])
print(list_matrix[0][0])
print(list_matrix[0][1])
print(list_matrix[0][2])
print(list_matrix[1])
print(list_matrix[1][0])
print(list_matrix[1][1])
print(list_matrix[1][2])
print(list_matrix[2])
print(list_matrix[2][0])
print(list_matrix[2][1])
print(list_matrix[2][2])
print(list_matrix[3])
print(list_matrix[3][0])

[1, 2, 3]
1
2
3
[7, 8, 9]
7
8
9
[4, 5, 6]
4
5
6
[0]
0

In [20]:
# Nested for loops
list_matrix = [
    [1,2,3],
    [7,8,9],
    [4,5,6],
    [0]
]
for row in list_matrix:
    print(row)
    for column_index in row:
        print(column_index)

[1, 2, 3]
1
2
3
[7, 8, 9]
7
8
9
[4, 5, 6]
4
5
6
[0]
0

##### Building a Basic translator in Python

In [ ]:
# building our own translator

In [6]:
def translate(entered_phrase):
    vowels = ['a','e','i','o','u']
    final_translation = "" # empty string
    for letter in entered_phrase:
        if letter.lower() in vowels:
            if letter.isupper():
                final_translation = final_translation + "V"
            else:
                final_translation = final_translation + "v"
        else:
            final_translation = final_translation + letter
    return final_translation

In [7]:
entered_phrase = input("Enter your phrase to translate: ")
translate(entered_phrase)

Enter your phrase to translate: Hey is this NARNIA I have a secret message from the SNOW QUEEN

'Hvy vs thvs NVRNVV V hvvv v svcrvt mvssvgv frvm thv SNVW QVVVN'

In [ ]:
# Create your own secret language translator

##### Comments in Python

In [8]:
# Single line comments
# Comments start with an #.
# Comments are ignored by python.
# Comments are used to communicate the ideas in the code.

In [ ]:
# Use case 1 - Write notes to other devlopers or users.
print("Single line comment") # This print() function is printing a string.

In [10]:
# Multi line comments
"""
This is a multiline comments,
it will be ignored by Python,
the official document advices on using only single line comments.
"""
# This is a multiline comments,
# it will be ignored by Python,
# the official document advices on using only single line comments.

'\nThis is a multiline comments,\nit will be ignored by Python,\nthe official document advices on using only single line comments.\n'

In [11]:
# Use case 2 - To disable a block of code without removing it.
#print("Single line comment") # This print() function is printing a string.

##### Catching errors in Python

In [13]:
number = int(input("Enter a number only: "))
print(number)

Enter a number only: lllk9

ValueError: invalid literal for int() with base 10: 'lllk9'

In [16]:
# try except block
try:
    number = int(input("Enter a number only: "))
    print(number)
except: # 'except' catches any error in the program.
    print("Invalid data type")
#basically to protect our code.

Enter a number only: 79
79

In [17]:
answer = 10/0

ZeroDivisionError: division by zero

In [18]:
# lets put it in the try block and except will catch it
try:
    answer = 10/0
    number = int(input("Enter a number only: "))
    print(number)
except: # 'except' catches any error in the program.
    print("Invalid data type")

Invalid data type

In [ ]:
# It is a valid data type.

In [20]:
try:
    #answer = 10/0 # zero division error
    number = int(input("Enter a number only: "))
    print(number)
except ZeroDivisionError:
    print("Number cannot be divide by zero.")
except ValueError: # 'except' catches any error in the program.
    print("Invalid data type")

Enter a number only: 2jj
Invalid data type

In [22]:
# We can store errors as variable.
try:
    #answer = 10/0 # zero division error
    number = int(input("Enter a number only: "))
    print(number)
except ZeroDivisionError as zero_err:
    print(zero_err)
except ValueError as val_err: # 'except' catches any error in the program.
    print(val_err)

Enter a number only: jhkj
invalid literal for int() with base 10: 'jhkj'

In [ ]:
# Catch specific errors in Python and that is the best practise.

##### Reading files in Python

In [ ]:
# reading an external file
# python read() command

In [ ]:
# open()
# if file is in the same directory no need to specify the path.
# opening "Employees.txt"
# mode: "r"- read only,"w"- change/write file, "a" - append information at the end of the file or adding new information, r+ - means read and write
employee_data = open("Employees.txt","r")
# The content in the file is stored in the variable.
# Remember to close file.
employee_data.close()

In [24]:
# Before doing it first check if the file is readable.
employee_data = open("Employees.txt","r")
print(employee_data.readable())
employee_data.close()

True

In [25]:
# Read all the information in the file.
employee_data = open("Employees.txt","r")
print(employee_data.read())
employee_data.close()

1. Arjun - Data Scientist
2. Sriraam - Block chain developer
3. Hira - Full stack developer

In [28]:
# Read it line by line in the file.
employee_data = open("Employees.txt","r")
print("1 line")
print(employee_data.readline()) # The cursor moves on from o1 line to second line and so on.
print("2 line")
print(employee_data.readline())
print("3 line")
print(employee_data.readline())
employee_data.close()

1 line
1. Arjun - Data Scientist

2 line
2. Sriraam - Block chain developer

3 line
3. Hira - Full stack developer

In [32]:
# Create a list of lines
employee_data = open("Employees.txt","r")
print(employee_data.readlines())
employee_data.close()

['1. Arjun - Data Scientist\n', '2. Sriraam - Block chain developer\n', '3. Hira - Full stack developer']

In [33]:
# Using for loop in readlines()
employee_data = open("Employees.txt","r")
for employee in employee_data.readlines():
    print(employee)
employee_data.close()

1. Arjun - Data Scientist

2. Sriraam - Block chain developer

3. Hira - Full stack developer

In [ ]:
# this is just the basics of reading from file

##### Writing and appending files in python

In [46]:
# append - new info at the end
employee_data = open("Employees.txt","a")
print(employee_data.write("\n4. Yuka human resources")) # \n - new line character Special characters
employee_data.close()

24

In [47]:
employee_data = open("Employees.txt","r")
print(employee_data.read())
employee_data.close()
# be careful with appending files because of some mistakes.

1. Arjun - Data Scientist
2. Sriraam - Block chain developer
3. Hira - Full stack developer

4. Yuka human resources4. Yuka human resources/n4. Yuka human resources
4. Yuka human resources

In [48]:
# overwrite a file
employee_data = open("Employees.txt","w")
print(employee_data.write("1. Menu Customer Service"))
employee_data.close()

24

In [49]:
employee_data = open("Employees.txt","r")
print(employee_data.read())
employee_data.close()
# Entire file has been over written

1. Menu Customer Service

In [50]:
# You can use 'w' to create a new file
employee_data = open("Employees_5.txt","w")
print(employee_data.write("1. Arjun - Data Scientist\n2. Sriraam - Block chain developer\n3. Hira - Full stack developer\n4. Yuka human resources\n5. Menu Customer Service"))
employee_data.close()

140

In [52]:
employee_data = open("Employees_5.txt","r")
print(employee_data.read())
employee_data.close()
# New file has been created with the inputted data.

1. Arjun - Data Scientist
2. Sriraam - Block chain developer
3. Hira - Full stack developer
4. Yuka human resources
5. Menu Customer Service

In [55]:
# Can write any type of file.
# HTML 
employee_data = open("Html_file.html","w")
print(employee_data.write("<p>We can write HTML pages</p>"))
employee_data.close()

30

In [56]:
employee_data = open("Html_file.html","r")
print(employee_data.read())
employee_data.close()

<p>We can write HTML pages</p>

In [ ]:
# pandas does file handling with tabular data like excel, csv much easier......

##### Modules and Pip in Python

In [ ]:
# A module is actually a python file that can be imported into our current working python file to use the functions, classe, variables , etc. in that module.

In [ ]:
# import external_file
# access external_file.

In [ ]:
import random
random.gauss()

In [ ]:
# official python docs
# list of python modules in Python
# Select for correct version.

In [ ]:
# Where are the file stored ?
# To answer these questions there are two type of module:
#1. Built in modules: Automatic access to them. 
#2. External modules: Need to be imported - basically stored in the folder where python is in our computer. External libraries: Lib

In [ ]:
# Install modules that are not pre installed in Python.
pip install pandas --upgrade
# pip comes with python 3
# It is referred to as a packet manager -python modules.....

In [ ]:
# cmd
# Check if pip is installed: pip --version
# pip install pandas
# Where it is stored?
#External Libraries--> Lib --> site-packages ---> package

In [ ]:
# To use it we should import it.....

In [ ]:
import pandas

In [ ]:
# remove 
pip install pandas

In [ ]:
# Will not work
import pandas

##### Classes & Objects in python

In [ ]:
# Sometimes real world examples cannot be represented by basic data types (str,int,float,bool) and collections (list,tuple,set,dictionary).
# Create your own data type in Python: Example: phone
# Example: Create a student class.

In [ ]:
# We cant put the characteristics for a student in basic data types or collections in python.

In [57]:
# Student class is a template a student
class Student:
    # Design / model a bunch of attributes of the Student class.
    
    # Initialize function.
    def __init__(self,name,degree,marks,is_passed): # name,degree,marks,is_passed are attributes
        # Map the attributes in which Students should have.
        self.name = name
        self.degree = degree
        self.marks = marks
        self.is_passed = is_passed

In [58]:
# We can create a student with that template- i.e Object.
#from file import class
student_1 = Student("Aswin","IT-Data Science",10.0,True)
print(student_1.name)
print(student_1.degree)
print(student_1.marks)
print(student_1.is_passed)

Aswin
IT-Data Science
10.0
True

In [60]:
student_2 = Student("Arjun","Human resources",10.0,True)
print(student_2.name)
print(student_2.degree)
print(student_2.marks)
print(student_2.is_passed)

Arjun
Human resources
10.0
True

In [ ]:
# When we are creating the object using the Student class template the values we give are passed through initialize function.
# self.name is the generate template attribute but name is the value you passed in and that is set to self.name.
# Assigning passed in values to the attributes of the Student Class.

In [ ]:
# We can model any real world entity as classes in Python.

##### Building a multiple choice quiz in Python

In [10]:
question_input_prompts = [
    "What is the capital of India? \na. Delhi\nb. Chennai\nc. Mumbai",
    "What is the capital of USA? \na. Los Angeles\nb. Washington\nc. Newyork",
    "What is the capital of Morocco? \na. Dubai\nb. Riyadh\nc. Rabat"

]

In [11]:
# lets create a class Question
class Question:
    def __init__(self,prompt,answer):
        self.prompt = prompt
        self.answer = answer

In [12]:
# Create a list of Question objects.
questions = [
    Question(question_input_prompts[0],"a"),
    Question(question_input_prompts[1],"b"),
    Question(question_input_prompts[2],"c")
]

In [21]:
# Create a function for the test
def run_quiz(questions):
    score = 0
    for question in questions:
        answer = input(question.prompt)
        print("Your entered answer is "+answer)
        if answer == question.answer:
            score+= 1
    print("Your score is: " + str(score) + "/" + str(len(questions)))

In [22]:
run_quiz(questions)

What is the capital of India?
a. Delhi
b. Chennai
c. Mumbaia
Your entered answer is a
What is the capital of USA?
a. Los Angeles
b. Washington
c. Newyorkb
Your entered answer is b
What is the capital of Morocco?
a. Dubai
b. Riyadh
c. Rabatc
Your entered answer is c
Your score is: 3/3

##### Class functions in Python (Object accessing Functions)

In [23]:
# Student class is a template a student
class Student:
    # Design / model a bunch of attributes of the Student class.
    
    # Initialize function.
    def __init__(self,name,degree,marks,is_passed): # name,degree,marks,is_passed are attributes
        # Map the attributes in which Students should have.
        self.name = name
        self.degree = degree
        self.marks = marks
        self.is_passed = is_passed
    # 'self' is always the first parameter.
    def is_in_edcom(self):
        if self.marks > 6.0:
            return True
        else:
            return False
        # Putting functions inside a class.
        # (Class function) A small function but it provides service to the objects of the class. 
        # Created objects of the Class can access these functions.

In [26]:
# Create Student objects.
student_1 = Student("Aswin","IT-Data Science",10.0,True)
student_2 = Student("Arjun","Human resources",4.0,True)

In [29]:
# accessing the class function 
print(student_1.is_in_edcom())

True

In [30]:
print(student_2.is_in_edcom())

False

#### Inheritance - Classes

In [36]:
class Chef:
    def makes_nonveg(self):
        print("The chef cooks Non veg food.")
    def makes_veg(self):
        print("The chef cooks Veg food.")     
    def signature_dish(self):
        print("The chef's signature dish is pasta.")
    def makes_french_fries(self):
        print("The chef cooks french fries.")

In [33]:
# Lets create South Indian Chef.
# South Indian chef may share all or few of the gereral characteristics of a Chef.
class SouthIndianChef:
    # copy and paste from general characteristics.
    def makes_nonveg(self):
        print("The chef cooks Non veg food.")
    def makes_veg(self):
        print("The chef cooks Veg food.")     
    def signature_dish(self):
        print("The chef's signature dish is pasta.")
    def makes_french_fries(self):
        print("The chef cooks french fries.")
    # unique character of South indian Chef.
    def makes_sambar(self):
        print("The chef cooks sambar.")
    def makes_rasam(self):
        print("The chef cooks rasam.")
    def makes_mutton_chukka(self):
        print("The chef makes mutton chukka.")
chef_rajesh_kumar = SouthIndianChef()

In [35]:
chef_rajesh_kumar.makes_sambar()

The chef cooks sambar.

In [ ]:
# We can use inheritance and make SouthIndianChef a child class of Chef.

In [37]:
class SouthIndianChef(Chef):
    # Copy and paste from general characteristics.
    # All the functions in Class Chef applies now to class SouthIndianChef.
    # Unique function of South indian Chef.
    def makes_sambar(self):
        print("The chef cooks sambar.")
    def makes_rasam(self):
        print("The chef cooks rasam.")
    def makes_mutton_chukka(self):
        print("The chef makes mutton chukka.")

In [38]:
chef_siva = SouthIndianChef()

In [39]:
chef_siva.makes_nonveg()

The chef cooks Non veg food.

In [40]:
chef_siva.makes_rasam()

The chef cooks rasam.

In [ ]:
# In the general characteristics certain functions or attributes may change for child class.

In [41]:
class SouthIndianChef(Chef):
    # Overriding - similar to over writing variables.
    # Some function in general class or parent class is unique to child class.
    def signature_dish(self):
        print("The chef's signature dish is chettinad dinner combo.")
    def makes_sambar(self):
        print("The chef cooks sambar.")
    def makes_rasam(self):
        print("The chef cooks rasam.")
    def makes_mutton_chukka(self):
        print("The chef makes mutton chukka.")

In [42]:
chef_siva = SouthIndianChef()

In [43]:
# The parent class function has been overwritten.
chef_siva.signature_dish()

The chef's signature dish is chettinad dinner combo.

In [44]:
chef_siva.makes_french_fries()

The chef cooks french fries.

In [45]:
chef_siva.makes_sambar()

The chef cooks sambar.

In [46]:
chef_siva.makes_rasam()

The chef cooks rasam.

In [ ]:
# Inheritance helps to inherit from a

##### Python Interpreter

In [ ]:
# Open cmd.

In [ ]:
# 'cmd' is a Command Line Interface not a Graphical User Interface.

In [ ]:
# python command

In [48]:
print("Hello Sriraam")

Hello Sriraam

In [47]:
number_1 = 6
number_2 = 5
print(number_1 + number_2)

11

In [49]:
def say_hello(name):
    print("Hello" + name)
say_hello("Sriraam")

HelloSriraam

In [ ]:
# Basically use all the Python commands in the Python interpreter.
# Dont use interpreter for writing codes.
# Just use it for tests.
# Use a text editor.

In [ ]:
# End of the book but not the end of your coding learning.
# Smile